<div class="container-fluid">
<h2 class="text-center mb-2"><strong>Projects Hosted in SonarCloud</strong></h2>
<app-search-box (assignedContent)="searchBoxChanges()" (sortedContent)="sortContent()"></app-search-box>
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10">
            <table class="table table-responsive-xl table-hover">
            <caption><app-paginator (changePage)="showMore()"></app-paginator></caption>
                <thead>
                  <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Analysis</th>
                    <th scope="col">Version</th>
                    <th scope="col">Link to Sonar Cloud</th>
                    <th scope="col">Link to Project</th>
                    <th scope="col"><input id="checkAll" type="checkbox" (change)="checkAll($event.target.checked)"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects">
                    <td>{{ project.key }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.lastAnalysis }}</td>
                    <td>{{ project.version }}</td>                   
                    <td><a href="{{ 'https://sonarcloud.io/dashboard?id=' + project.key.replace(':', '%3A') }}">Sonar Cloud Measures</a></td>
                    <td><a href="{{ project.projectLink }}">Project</a></td>
                    <td><input type="checkbox" id="{{ 'checkbox' + project.idproject }}" (change)="checkElement($event.target.checked, project.idproject)"></td>
                  </tr>
                  
                  </tbody>
              </table>
        </div>

        <div class="col-xl-1">
          <div class="pt-1 sticky-top">
          <a [routerLink]="['/projects/metrics']" class="btn btn-primary btn-block">Select Metrics</a>
          </div>
        </div>

    </div>

    

    <app-export-modal></app-export-modal>

</div>