<div class="container">
    <h2 class="text-center mb-2"><strong>Analyze Projects</strong></h2>
    <p>To manually analyze projects without any envioronment setted:</p>
    <ol class="mb-5">
        <li class="mt-3 mb-3">
            Download SonarScanner from <a href="https://sonarcloud.io/documentation/analysis/scan/sonarscanner/">SonarCloud</a> website (choose according to your OS).
        </li>

        <img class="text-center card-img" [defaultImage]="loading" [lazyLoad] ="sonar_scanner_download" alt="sonar-scanner-download" >
        
        <li class="mt-5 mb-3">
            Download the <a href="https://drive.google.com/uc?export=download&id=19C4qertLIA7E24skezdixuGiXshhfgmV">zip</a> file with the script to automatize the process of uploading multiple projects at the same time.
        </li>

        <li>
            Decompress the two files downloaded.
        </li>

        <li class="mt-3 mb-3">
            Copy all the folders inside the decompressed folder of the SonarScanner (bin, conf, jre and lib) and paste them in the /sonar-scanner subfolder from the Analyze-Projects folder also decompressed in the previous step.
            
        </li>

        <img class="d-block mx-auto card-img gif"  [defaultImage]="loading" [lazyLoad] ="move_scanner" alt="move-scanner" >

        <li class="mt-5 mb-3">
            Move the project to be analyzed into the Analyze-Projects/projects subfolder.
        </li>

        <li class="mt-3 mb-3">
            Use the sonar-project.properties file inside Analyze-Projects as a template and update the values according to the project to be analyzed, then put it in the project's root directory (the one moved in the previous step). You can find all the parameters of the analysis <a href="https://sonarcloud.io/documentation/analysis/analysis-parameters/">here</a> (depends on the main language of the project).
        </li>

        <img class="d-block mx-auto card-img gif" [defaultImage]="loading" [lazyLoad] ="properties_file"  alt="properties-file" >
        
        <li class="mt-5 mb-3">
            Return to the 6th step for each project to be analyzed.
        </li>

        <li class="mt-3 mb-3">
            Run the "Analyze-Projects.sh" script. It is a Bash script so you must have Bash installed in order to execute it. If using Windows you can download <a href="https://gitforwindows.org/">Git for Windows</a>.
        </li>

        <img class="text-center card-img" [defaultImage]="loading" [lazyLoad] ="script_execution"  alt="script-execution" >

    </ol>

    

    <p>* The errors are logged in "results.txt" file. </p>

</div>
