<div class="container">
    <h2 class="mb-2"><strong>About</strong></h2>
    <p>Sonar Exporting Tool is a web app which purpose is to maintain the metadata of software projects destined to be a curated repository of research projects obtained with Sonar Cloud scanner . The projects analyzed are from <a href="https://sonarcloud.io/organizations/unne-sonar-corpus">UNNE Sonar Corpus</a> organization.</p>
    
    <p>The development of this application has arisen as a result of a research work that is currently under development, which consists of the construction of a corpus of software projects for the development of empirical studies of software quality. A fundamental factor for obtaining representative and unbiased results in these studies is the quality of the projects that are being analyzed, which is why it is imperative to have the necessary criteria and ability to select projects that comply with certain engineering practices, allowing to reduce the noise that measurements collected from non-quality systems may represent. </p>
    
    <p>Together with the projects, the aim is to facilitate the measures obtained through the static analysis of the source code.</p>
        
    

</div>
