      
<div class="card-body pb-2">
  <h3 class="card-title text-center"><strong>{{project.name}}</strong></h3>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[0].name}}</h6>
    <h5><strong>{{project.project_measure[0].value}}</strong></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[1].name}}</h6>
    <h5><strong>{{project.project_measure[1].value}}%</strong></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[2].name}}</h6>
    <h5><strong>{{project.project_measure[2].value}}</strong></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[3].name}}</h6>
    <h5><strong>{{project.project_measure[3].value}}</strong></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[4].name}}</h6>
    <h5><strong>{{project.project_measure[4].value}}</strong></h5>
  </li>
  <li class="list-group-item d-flex justify-content-between pb-0">
    <h6>{{project.project_measure[5].name}}</h6>
    <h5><strong>{{project.project_measure[5].value}}</strong></h5>
  </li>
</ul>

