<div class="container pt-4 pb-4">
  <h2 class="text-center mb-2"><strong>Projects Hosted in SonarCloud</strong></h2>
  <app-search-box (assignedContent)="searchBoxChanges()" (sortedContent)="sortContent()"></app-search-box>
  <div class="row">
    <div class="col-xl-10">
      <table class="table table-responsive-xl table-hover">
        <caption><app-paginator (changePage)="showMore()"></app-paginator></caption>
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Project</th>                      
            <th scope="col">Version</th>                        
            <th scope="col">Link to Project</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.key }}</td>
            <td>{{ project.name }}</td>
            <td >
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                </div>
                <input value="{{ project.version }}" type="text" class="form-control" id="{{ 'inpVersion' + project.idproject }}" (blur)="addProject(project.idproject)">
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                </div>
                <input value="{{ project.projectLink }}" type="text" class="form-control" id="{{ 'inpLink' + project.idproject }}" (blur)="addProject(project.idproject)" >
              </div>
            </td>

          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="col-xl-2">
      <div class="pt-1 sticky-top">
        <button class="btn btn-primary btn-block" (click)="saveChanges()">
          <em class="fas fa-save"></em> Save Changes</button>
      </div>

    </div>  
  </div>           
</div>